@{
    ViewBag.Title = "AdminIntro";
}

<h2>Welcome</h2>
<br /><br />
You have access to the following pages.
<br /><br />
<div class="list-group">
	<a class="list-group-item">Create New User</a>
	<a class="list-group-item">Update User Information</a>
	<a href="@Url.Action("Create", "Volunteer")" class="list-group-item">Create New Volunteer</a>
	<a href="@Url.Action("Create", "VolunteerGroup")" class="list-group-item">Create New Volunteer Group</a>
	<a class="list-group-item">Volunteer Search</a>
</div>