@using CCSVolunteerMVC.Models
@{
	ViewBag.Title = "CompleteSignOut";
	///This page shows that the user successfully signed out
	TimeRoundUp timeRoundUp = new TimeRoundUp();
	var okay = Request["Okay"];
	if (IsPost)
	{
		Response.Redirect("~/Kiosk/Index");
	}
}

<h2 class="jumbotron text-center">Completed Sign Out</h2>

<div class="text-center">
	You clocked out at @timeRoundUp.RoundUp(DateTimeOffset.Now, TimeSpan.FromMinutes(15))
</div>
<div class="text-center col-sm-offset-4">
	<form action="" method="post">
		<div class="col-md-10">
			<input class="btn btn-primary btn-lg" name="Okay" type="submit" id="Okay" formmethod="POST" title="Submit" value="Okay">
		</div>
	</form>
</div>