
@{
	ViewBag.Title = "CourtOrderedScreen";
	///This is the prompt that they have to see the administration
	///otherwise they do not get credit
	var okay = Request["Okay"];
	if (IsPost)
	{
		Response.Redirect("~/Kiosk/Index");
	}
}

<h2 class="jumbotron text-center" style="background-color: #C43111">Be Sure to check with administration before you clock out; otherwise, you will not receive credit for you hours</h2>

<div class="text-center col-sm-offset-4">
	<form action="" method="post">
		<div class="col-md-10">
			<input class="btn btn-primary btn-lg" name="Okay" type="submit" id="Okay" formmethod="POST" title="Submit" value="Okay">
		</div>
	</form>
</div>