
@{
	ViewBag.Title = "EndTerminal";
	///Screen displayed after the terminal has been ended by the administration
	if (App.Refresh == 0)
	{
		App.Refresh = 1;
	}
	else
	{
		Response.Redirect("~/UserLogIn/Index");
	}
}
<head>
	<meta http-equiv="refresh" content="3">
</head>
<h2 class="jumbotron text-center" style="font-size: 36px;">Terminal Has Ended</h2>