
@{
	ViewBag.Title = "In or Out";
	///This screen is for the use of the volunteers to help process of clocking in and out
	///This gives the option to end the day for the kiosk which is validated by the admin sign in
	///If admin signs out, it automatically clock everyone left out for the volunteer duration of an hour
	if (App.Admin == 1)
	{
		App.Admin = 3;
	}
	App.Refresh = 0;
}

<h2 class="jumbotron text-center">Please select whether you are clocking in or out</h2>
<div>
	<form action="@Url.Action("VolunteerGroup", "Kiosk", new { action = "" })" method="post" class="form-horizontal" id="login">
		<div class="col-sm-10" style="margin-left: 150px">
			<input class="btn btn-primary btn-lg btn-block jumbotron col-sm-offset-3" style="background-color: #04963e; color: #ffffff" name="In" type="submit" id="In" formmethod="POST" title="In" value="In">
			<input class="btn btn-secondary btn-lg btn-block jumbotron col-sm-offset-3" style="background-color: #c41609; color: #ffffff" name="Out" type="submit" id="Out" formmethod="POST" title="Out" value="Out">
		</div>
	</form>
</div>