
@{
	ViewBag.Title = "Location";

	///This logic logges the location of the kiosk for further use in the appplication
	///This screen is only presented once 
	if (IsPost)
	{
		var ogden = Request["Ogden"];
		var saltLakeCity = Request["Salt Lake City"];
		if (!string.IsNullOrWhiteSpace(ogden))
		{
			App.Location = "2";
		}
		else
		{
			App.Location = "1";
		}
		Response.Redirect("~/Kiosk/Index");
	}
	if (App.Admin != 1)
	{
		Response.Redirect("~/Kiosk/Index");
	}
}

<h2 class="jumbotron text-center">Location</h2>
<div class="container">
	<form action="" method="post" class="form-horizontal col-md-12 container-fluid" id="login">
		<div class="col-sm-12" style="margin-left: 100px">
			<input class="btn btn-primary btn-lg btn-block jumbotron col-sm-offset-3" style="background-color: #04963e ; color: #ffffff;" name="Salt Lake City" type="submit" id="Salt Lake City" formmethod="POST" title="In" value="Salt Lake City">
			<input class="btn btn-secondary btn-lg btn-block jumbotron col-sm-offset-3" style="background-color: #041596; color: #ffffff" name="Ogden" type="submit" id="Ogden" formmethod="POST" title="Out" value="Ogden">
		</div>
	</form>
</div>
