@using CCSVolunteerMVC.Models;
@using CCSVolunteerMVC.ViewModels;
@model VolunteerClockModel
@{
	ViewBag.Title = "Volunteer Clock";
	///This view asks the volunteer to enter their PIN in MMDDYY style. There is logic in the getter
	///in the volunteer class that creates this pin. 
	var group = Request["Group"];
	if (!string.IsNullOrWhiteSpace(group))
	{
		App.VolunteerType = "Group";
		Response.Redirect("~/Kiosk/GroupClock");
	}
	else {
		App.VolunteerType = "Volunteer";
	}
	IEnumerable<string> volunteerPinCollection = new List<string>();

	if (IsPost)
	{
		volunteerPinCollection = Model.Volunteers.Select(i => i.volPin).ToList();
		var password = Request["Password"];
	}
}

<h4 class="jumbotron text-center">Please Enter Your Pin.<br /> MMDDYY(example January 1, 1901 = 010101)</h4>

<form action="@Url.Action("VolunteerPasswordList", "Kiosk")" method="post" class="form-horizontal col-sm-offset-4" id="login">
	<div class="form-group">
		<div class="row">
			<label class="col-md-4 col-sm-offset-1" for="Password">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;Volunteer's Pin</label>
			<input class="form-control col-md-10" type="text" pattern="[0-9]*" inputmode="numeric" name="Password" id="Password">
		</div>
		<div class="row ">
			<span class="col-md-2"></span>
			<input class="btn btn-primary btn-block" name="PasswordBtn" type="submit" id="VolunteerPin" formmethod="POST" title="Password" value="Clock In/Out">
		</div>
	</div>
</form>