@using CCSVolunteerMVC.Models;
@model CCSVolunteerMVC.ViewModels.VolunteerViewModel

@{
	ViewBag.Title = "Details";
	if (IsPost)
	{
		if (App.TimeInTimeOut == "In")
		{
			User tempUser = new User(Model.Volunteer.ElementAt(0).volunteerID, 1, 1, 3, "");
			CurrentUsers.AddUser(tempUser);
			if (Model.Volunteer.ElementAt(0).volsCourtOrdered == 1)
			{
				Response.Redirect("~/MessageScreens/CourtOrderedScreen");
			}
			else {
				Response.Redirect("~/MessageScreens/CompleteSignIn");
			}
		}
		else {
			int tempCheck = CurrentUsers.Users.Where(u => u.UserId == Model.Volunteer.ElementAt(0).volunteerID).Count();
			if (tempCheck > 0)
			{
				CurrentUsers.UpdateVolunteerTimeOut(Model.Volunteer.ElementAt(0).volunteerID, "");
				Response.Redirect("~/MessageScreens/CompleteSignOut");
			}
			else {
				Response.Redirect("~/MessageScreens/NoRecords");
			}
		}
	}
}

<h2>Volunteer</h2>

<div>
	<hr />
	<dl class="dl-horizontal">
		<dt>
			@Html.DisplayNameFor(model => model.Volunteer.ElementAt(0).volFirstName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Volunteer.ElementAt(0).volFirstName)
		</dd>

		<dt>
			@Html.DisplayNameFor(model => model.Volunteer.ElementAt(0).volLastName)
		</dt>

		<dd>
			@Html.DisplayFor(model => model.Volunteer.ElementAt(0).volLastName)
		</dd>
	</dl>
</div>
<div>
	<form action="" method="post">
		<div class="col-md-10">
			<input class="btn btn-primary btn-lg" name="SignIn" type="submit" id="SignIn" formmethod="POST" title="Submit" value="Submit">
		</div>
	</form>
</div>
