@using CCSVolunteerMVC.Models;
@using CCSVolunteerMVC.ViewModels;
@model VolunteerClockModel
@{
	ViewBag.Title = "Volunteer Clock";
	var group = Request["Group"];
	if (!string.IsNullOrWhiteSpace(group))
	{
		Response.Redirect("~/Kiosk/GroupClock");
	}
	IEnumerable<string> volunteerPinCollection = new List<string>();

	if (IsPost)
	{
		volunteerPinCollection = Model.Volunteers.Select(i => i.volPin).ToList();
		var password = Request["Password"];
	}
}

<h2>Volunteer Sign In</h2>

<form action="@Url.Action("VolunteerPasswordList", "Kiosk")" method="post" class="form-horizontal" id="login">
	<div class="form-group">
		<div class="row">
			<label class="col-md-2" for="Password">Volunteer's Pin:</label>
			<input class="form-control col-md-10" type="password" name="Password" id="Password">
		</div>
		<div class="row">
			<span class="col-md-2"></span>
			<input class="btn btn-primary btn-block" name="PasswordBtn" type="submit" id="VolunteerPin" formmethod="POST" title="Password" value="Password">
		</div>
	</div>
</form>